# Binary output
/bin/
/build/



# Go module cache
go.sum
go.mod

# OS-specific files
.DS_Store    # macOS
*.swp        # Vim
*.swo        # Vim
*.idea/      # JetBrains IDEs
*.vscode/    # Visual Studio Code

# Temporary files
*.tmp
*.bak
*.log

# Other common unneeded files
*.gz
*.tar
*.zip
